button {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #960404; /* Cor de fundo */
    color: #ffffff; /* Cor do texto branco */
    padding: 10px 15px; /* Preenchimento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
    margin-right: 10px; /* Margem à direita para espaçamento */
    margin-top: 10px;
}

  /* Estilo quando o botão está em hover (passado por cima) */
button:hover {
    background-color: #a14343; /* Cor de fundo mais escura */
}
